<ul class="pb-2 pt-1">
    <li>
        <form action="#" method="GET" class="lg:hidden">
            <label for="mobile-search" class="sr-only">Search</label>
            <div class="relative">
                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <svg class="w-5 h-5 text-gray-500">
                        <use href="/images/icons.svg#search"></use>
                    </svg>
                </div>
                <input type="text" name="email" id="mobile-search" class="bg-gray-50 border border-gray-300 text-dark-500 text-sm font-light rounded-lg focus:ring-2 focus:ring-fuchsia-50 focus:border-fuchsia-300 block w-full pl-10 p-2.5 mb-2" placeholder="Search">
            </div>
        </form>
    </li>
    <li>
        <a href="https://demos.creative-tim.com/soft-ui-flowbite-pro/" class="flex items-center py-2.5 px-4 text-base font-normal text-dark-500 rounded-lg bg-white shadow-lg shadow-gray-200 hover:!bg-white group transition-all duration-200" sidebar-toggle-collapse="">
            <div class="bg-white shadow-lg shadow-gray-300 bg-fuchsia-500 !text-white w-8 h-8 p-2.5 rounded-lg text-center grid place-items-center">
                <svg width="12px" height="12px">
                    <use href="/images/icons.svg#shop"></use>
                </svg>
            </div>
            <span class="text-dark-500 text-sm font-light" data-translate="dashboard"></span>
        </a>
    </li>
    <li>
        <a href="#" class="flex items-center py-2.5 px-4 text-base font-normal text-dark-500 rounded-lg shadow-gray-200 hover:bg-gray-200 group transition-all duration-200" sidebar-toggle-collapse="">
            <div class="bg-white shadow-lg shadow-gray-300 text-dark-700 w-8 h-8 p-2.5 rounded-lg text-center grid place-items-center">
                <svg width="12px" height="12px">
                    <use href="/images/icons.svg#document"></use>
                </svg>
            </div>
            <span class="ml-3 text-dark-500 text-sm font-light" data-translate="kanban"></span>
        </a>
    </li>
    <li>
        <a href="#" class="flex items-center py-2.5 px-4 text-base font-normal text-dark-500 rounded-lg hover:bg-gray-200 group transition-all duration-200" sidebar-toggle-collapse="">
            <div class="bg-white shadow-lg shadow-gray-300  text-dark-700 w-8 h-8 p-2.5 rounded-lg text-center grid place-items-center">
                <svg width="12px" height="12px">
                    <use href="/images/icons.svg#customer-support"></use>
                </svg>
            </div>
            <span class="ml-3 text-dark-500 text-sm font-light" data-translate="inbox"></span>
        </a>
    </li>
    <li>
        <button type="button" class="w-full flex items-center py-2.5 px-4 text-base font-normal text-dark-500 rounded-lg hover:bg-gray-200 group transition-all duration-200" sidebar-toggle-collapse="" aria-controls="dropdown-ecommerce" data-collapse-toggle="dropdown-ecommerce">
            <div class="bg-white shadow-lg shadow-gray-300  text-dark-700 w-8 h-8 p-2.5 rounded-lg text-center grid place-items-center">
                <svg class="text-dark" width="12px" height="12px">
                    <use href="/images/icons.svg#basket"></use>
                </svg>
            </div>
            <span class="ml-3 text-dark-500 text-sm font-light" sidebar-toggle-item="" data-translate="ecommerce"></span>
            <svg sidebar-toggle-item="" class="w-4 h-4 ml-auto text-gray-700">
                <use href="/images/icons.svg#arrow-down"></use>
            </svg>
        </button>
        <ul id="dropdown-ecommerce" sidebar-toggle-list="" class="pb-2 pt-1 hidden">
            <li>
                <a href="https://demos.creative-tim.com/soft-ui-flowbite-pro/e-commerce/products/" class="text-sm text-dark-500 font-light rounded-lg flex items-center p-2 group hover:bg-gray-200 transition duration-75"><span class="">Products</span><span class="hidden">P</span></a>
            </li>
            <li>
                <a href="https://demos.creative-tim.com/soft-ui-flowbite-pro/e-commerce/billing/" class="text-sm text-dark-500 font-light rounded-lg flex items-center p-2 group hover:bg-gray-200 transition duration-75"><span class="">Billing</span><span class="hidden">B</span></a>
            </li>
            <li>
                <a href="https://demos.creative-tim.com/soft-ui-flowbite-pro/e-commerce/invoice/" class="text-sm text-dark-500 font-light rounded-lg flex items-center p-2 group hover:bg-gray-200 transition duration-75"><span class="">Invoice</span><span class="hidden">I</span></a>
            </li>
        </ul>
    </li>
    <li>
        <button type="button" class="w-full flex items-center py-2.5 px-4 text-base font-normal text-dark-500 rounded-lg hover:bg-gray-200 group transition-all duration-200" sidebar-toggle-collapse="" aria-controls="dropdown-users" data-collapse-toggle="dropdown-users">
            <div class="bg-white shadow-lg shadow-gray-300  text-dark-700 w-8 h-8 p-2.5 rounded-lg text-center grid place-items-center">
                <svg width="12px" height="12px">
                    <use href="/images/icons.svg#office"></use>
                </svg>
            </div>
            <span class="ml-3 text-dark-500 text-sm font-light" sidebar-toggle-item="" data-translate="users"></span>
            <svg sidebar-toggle-item="" class="w-4 h-4 ml-auto text-gray-700">
                <use href="/images/icons.svg#arrow-down"></use>
            </svg>
        </button>
        <ul id="dropdown-users" sidebar-toggle-list="" class="pb-2 pt-1 hidden">
            <li>
                <a href="https://demos.creative-tim.com/soft-ui-flowbite-pro/users/list/" class="text-sm text-dark-500 font-light rounded-lg flex items-center p-2 group hover:bg-gray-200 transition duration-75"><span class="">Users list</span><span class="hidden">U</span></a>
            </li>
            <li>
                <a href="https://demos.creative-tim.com/soft-ui-flowbite-pro/users/profile/" class="text-sm text-dark-500 font-light rounded-lg flex items-center p-2 group hover:bg-gray-200 transition duration-75"><span class="">Profile</span><span class="hidden">P</span></a>
            </li>
            <li>
                <a href="https://demos.creative-tim.com/soft-ui-flowbite-pro/users/settings/" class="text-sm text-dark-500 font-light rounded-lg flex items-center p-2 group hover:bg-gray-200 transition duration-75"><span class="">Settings</span><span class="hidden">S</span></a>
            </li>
        </ul>
    </li>
    <li>
        <button type="button" class="w-full flex items-center py-2.5 px-4 text-base font-normal text-dark-500 rounded-lg hover:bg-gray-200 group transition-all duration-200" sidebar-toggle-collapse="" aria-controls="dropdown-pages" data-collapse-toggle="dropdown-pages">
            <div class="bg-white shadow-lg shadow-gray-300  text-dark-700 w-8 h-8 p-2.5 rounded-lg text-center grid place-items-center">
                <svg width="12px" height="12px">
                    <use href="/images/icons.svg#spaceship"></use>
                </svg>
            </div>
            <span class="ml-3 text-dark-500 text-sm font-light" sidebar-toggle-item="" data-translate="pages"></span>
            <svg sidebar-toggle-item="" class="w-4 h-4 ml-auto text-gray-700">
                <use href="/images/icons.svg#arrow-down"></use>
            </svg>
        </button>
        <ul id="dropdown-pages" sidebar-toggle-list="" class="pb-2 pt-1 hidden">
            <li>
                <a href="https://demos.creative-tim.com/soft-ui-flowbite-pro/pages/pricing/" class="text-sm text-dark-500 font-light rounded-lg flex items-center p-2 group hover:bg-gray-200 transition duration-75"><span class="">Pricing</span><span class="hidden">P</span></a>
            </li>
            <li>
                <a href="https://demos.creative-tim.com/soft-ui-flowbite-pro/pages/maintenance/" class="text-sm text-dark-500 font-light rounded-lg flex items-center p-2 group hover:bg-gray-200 transition duration-75"><span class="">Maintenance</span><span class="hidden">M</span></a>
            </li>
            <li>
                <a href="https://demos.creative-tim.com/soft-ui-flowbite-pro/pages/404/" class="text-sm text-dark-500 font-light rounded-lg flex items-center p-2 group hover:bg-gray-200 transition duration-75"><span class="">404 not found</span><span class="hidden">4</span></a>
            </li>
            <li>
                <a href="https://demos.creative-tim.com/soft-ui-flowbite-pro/pages/500/" class="text-sm text-dark-500 font-light rounded-lg flex items-center p-2 group hover:bg-gray-200 transition duration-75"><span class="">500 server error</span><span class="hidden">5</span></a>
            </li>
        </ul>
    </li>
    <li>
        <button type="button" class="w-full flex items-center py-2.5 px-4 text-base font-normal text-dark-500 rounded-lg hover:bg-gray-200 group transition-all duration-200" sidebar-toggle-collapse="" aria-controls="dropdown-auth" data-collapse-toggle="dropdown-auth">
            <div class="bg-white shadow-lg shadow-gray-300  text-dark-700 w-8 h-8 p-2.5 rounded-lg text-center grid place-items-center">
                <svg width="12px" height="12px">
                    <use href="/images/icons.svg#settings"></use>
                </svg>
            </div>
            <span class="ml-3 text-dark-500 text-sm font-light" sidebar-toggle-item="" data-translate="authentication"></span>
            <svg sidebar-toggle-item="" class="w-4 h-4 ml-auto text-gray-700">
                <use href="/images/icons.svg#arrow-down"></use>
            </svg>
        </button>
        <ul id="dropdown-auth" sidebar-toggle-list="" class="pb-2 pt-1 hidden">
            <li>
                <a href="https://demos.creative-tim.com/soft-ui-flowbite-pro/authentication/sign-in/" class="text-sm text-dark-500 font-light rounded-lg flex items-center p-2 group hover:bg-gray-200 transition duration-75"><span class="">Sign in</span><span class="hidden">S</span></a>
            </li>
            <li>
                <a href="https://demos.creative-tim.com/soft-ui-flowbite-pro/authentication/sign-up/" class="text-sm text-dark-500 font-light rounded-lg flex items-center p-2 group hover:bg-gray-200 transition duration-75"><span class="">Sign up</span><span class="hidden">S</span></a>
            </li>
            <li>
                <a href="https://demos.creative-tim.com/soft-ui-flowbite-pro/authentication/forgot-password/" class="text-sm text-dark-500 font-light rounded-lg flex items-center p-2 group hover:bg-gray-200 transition duration-75"><span class="">Forgot password</span><span class="hidden">F</span></a>
            </li>
            <li>
                <a href="https://demos.creative-tim.com/soft-ui-flowbite-pro/authentication/reset-password/" class="text-sm text-dark-500 font-light rounded-lg flex items-center p-2 group hover:bg-gray-200 transition duration-75"><span class="">Reset password</span><span class="hidden">R</span></a>
            </li>
            <li>
                <a href="https://demos.creative-tim.com/soft-ui-flowbite-pro/authentication/profile-lock/" class="text-sm text-dark-500 font-light rounded-lg flex items-center p-2 group hover:bg-gray-200 transition duration-75"><span class="">Profile lock</span><span class="hidden">P</span></a>
            </li>
        </ul>
    </li>
</ul>