<div class="ml-3">
    <div>
        <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300" id="user-menu-button-2" aria-expanded="false" data-dropdown-toggle="dropdown-2">
            <span class="sr-only">Open user menu</span>
            <img class="w-8 h-8 rounded-full" src="https://demos.creative-tim.com/soft-ui-flowbite-pro/images/users/neil-sims.png" alt="user photo">
        </button>
    </div>

    <div class="hidden z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow-lg shadow-gray-300" id="dropdown-2" data-popper-placement="bottom" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(1067px, 61px);">
        <div class="py-3 px-4" role="none">
            <p class="text-sm" role="none">Neil Sims</p>
            <p class="text-sm font-medium text-gray-900 truncate" role="none">
                neil.sims@flowbite.com
            </p>
        </div>
        <ul class="py-1" role="none">
            <li>
                <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Dashboard</a>
            </li>
            <li>
                <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Settings</a>
            </li>
            <li>
                <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Earnings</a>
            </li>
            <li>
                <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Sign out</a>
            </li>
        </ul>
    </div>
</div>